/* golden = FFD700 
   black = 282c34*/

.progressBarContainer {
  background-color: gray;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgb(93, 93, 93);
}

.progressBarFill {
  background-color: rgb(116, 194, 92);
  color: white;
  text-align: right;
  border-radius: 50px;
  text-align: center;
  transition: all !important;
  transition-duration: 5ms !important;
  font-weight: bold;
}

.progressBarTitle {
  color: white;
  margin: 0px;
  margin: 5px;
  margin-left: 20px;
}

.NavBarCon {
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  background-color: gold;
  z-index: 99;
  color: #282c34;
  display: flex;
  height: 50px !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  transition: all 200ms linear !important;
  overflow: hidden;
}

.NavButton {
  margin: 0px;
  cursor: pointer;
  font-size: 1.2em;
  padding: 15px;
  transition: all 100ms;
  color: #282c34;
  text-decoration: none;
  position: relative;
}

.NavSMClose {
  height: fit-content;
  transform: all 200ms linear !important;
}

.NavButton:hover {
  animation: jello;
  animation-duration: .8s;
  font-size: 1.5em;
}

.NavOpenButton {
  position: absolute !important;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border: 3px solid #282c34;
  border-radius: 5px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: none;
}

.NavOpenButton i {
  font-size: 1.5em;
}

.progressBarParentCon {
  transition: all 500ms;
}

.progressBarParentCon .progressBarPopUp {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.progressBarParentCon .progressBarPopUp::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.progressBarParentCon:hover .progressBarPopUp {
  visibility: visible;
  opacity: 1;
  animation: flipInX 500ms;
}

.is_leftIconConStyle {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  width: 13%;
  z-index: 1;
}

.is_rightIconConStyle {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  width: 13%;
  z-index: 1;
}

.is_leftIconConStyle:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.is_rightIconConStyle:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.is_leftIconStyle {
  font-size: 3em;
  color: white;
  transition: all 150ms;
}

.is_rightIconStyle {
  color: white;
  font-size: 3em;
  transition: all 150ms;
}

.is_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: all 500ms;
}

.leftClicked {
  margin-right: 20px !important;
}

.rightClicked {
  margin-left: 20px !important;
}

.is_dot {
  color: gray;
  font-size: 0.7em;
  padding: 3px;
  transition: all 200ms;
}

.is_dot:hover {
  cursor: pointer;
}

.is_dot_selected {
  color: white;
  font-size: 1em;
  margin: 4px;
}

.LinkID{
  position: absolute;
  top: -80px;
}

@media screen and (max-width: 450px) {
  .NavBarCon {
    flex-direction: column;
  }

  .NavSMOpen {
    height: 250px !important;
  }

  .NavOpenButton {
    display: flex;
  }

  .NavLinkClose {
    display: none !important;
  }

}